<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Educational Background</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2018</h4>
                                    <h4 class="subheading">Allameh Helli High School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Diploma in Mathematics and Physics Discipline
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018</h4>
                                    <h4 class="subheading">Young Scholars Club</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Special educations for gold medalist of Iranian National Olympiad in Informatics 2017</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2023</h4>
                                    <h4 class="subheading">Sharif University of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">B.Sc. in Computer Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023-NOW</h4>
                                    <h4 class="subheading">York University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">M.Sc. in Computer Science under the supervision of <a href="https://www.eecs.yorku.ca/~kamalis/"> <b>Prof. Shahin Kamali</b></a></p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>